 /*----POLICE----*/
 
 @font-face {
     font-family: 'alegreyaregular';
     src: url('alegreya-regular-webfont.woff2') format('woff2'), url('alegreya-regular-webfont.woff') format('woff'), url('alegreyaregular.ttf') format('truetype'), url('alegreyaregular.svg') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 
 #contenu {
     font-family: 'alegreyregular', Georgia, 'Times New Roman', Times, serif;
     font-size: 16px;
     background-color: #FAFAFA;
     color: #000;
     display: flex;
     max-width: 900px;
     margin: auto;
 }
 
 li {
     list-style-type: none;
 }
 
 a {
     color: #9E9E9E;
 }
 /*----ASIDE----*/
 
 #liseret {
     max-width: 270px;
     display: flex;
     flex-direction: column;
     background-color: #006064;
 }
 
 #logo {
     align-self: center;
     margin-top: 30px;
     border: solid 3px rgba(0, 0, 0, 0.3);
     border-radius: 50%;
     max-width: 150px;
     max-height: 150px;
     overflow: hidden;
     /*pour que la photo ne dépasse pas*/
 }
 
 #cadre_logo {
     display: none;
 }
 
 .image {
     display: block;
     max-width: 120%;
     transform: translate(-10px, -15px);
 }
 
 .aside_titre {
     text-align: center;
     text-transform: uppercase;
     color: #FFF;
     background-color: #000;
     padding: 2%;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: normal;
     font-size: 54px;
 }
 
 .aside_titre_gras {
     text-align: center;
     text-transform: uppercase;
     color: #FFF;
     background-color: #000;
     padding: 2%;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: normal;
     font-size: 22px;
 }
 
 .contact {
     padding-left: 8%;
     color: #FFF;
     overflow-wrap: break-word;
 }
 
 .contact li {
     margin-bottom: 5%;
 }
 
 #a_propos {
     flex: 1;
 }
 
 #a_propos p {
     color: #FFF;
 }
 
 aside p {
     text-align: justify;
     margin: 8%;
 }
 
 .icon_loisirs {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     font-size: 30px;
     margin-bottom: 10%;
     border-radius: 50%;
     color: #FFF;
 }
 /*---- HEADER ----*/
 
 header {
     margin-bottom: 12.5%;
 }
 
 h1 {
     text-transform: uppercase;
     font-weight: 300;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 40px;
     color: #000;
     margin-top: 8%;
     margin-bottom: 0;
     margin-left: 6.5%;
     padding-bottom: 0;
 }
 
 #prenom {
     font-weight: 400;
     color: #006064;
 }
 
 h2 {
     margin-top: 0;
     margin-left: 6.5%;
     padding-top: 0;
     font-size: 24px;
     color: rgba(06, 06, 06, 1)
 }
 
 #surligne_dev {
     border-bottom: solid;
     border-color: #006064;
 }
 
 #logo_header_mobile {
     display: none;
     align-self: center;
     margin-top: 30px;
     border: solid 3px rgba(0, 96, 100, 0.3);
     border-radius: 50%;
     width: 150px;
     height: 150px;
     overflow: hidden;
 }
 /*---- LA PARTIE CENTRALE ----*/
 
 #centre {
     flex: 1;
 }
 
 .page_article {
     margin-right: 30px;
 }
 
 .page_titre {
     margin-left: 6.5%;
     padding-bottom: 10px;
     font-size: 24px;
     display: flex;
     border-bottom: solid #000;
 }
 
 .page_titre h3 {
     text-transform: uppercase;
     font-size: 24px;
     margin: 0;
 }
 
 .icon_article {
     color: #006064;
 }
 
 .page_titre div {
     margin-right: 5%;
 }
 
 .page_liste {
     margin-left: 8%;
     padding-left: 0;
 }
 
 .formation,
 .profession {
     display: flex;
     justify-content: space-between;
     margin-bottom: 5%;
 }
 
 .puce_bloc {
     display: flex;
     font-weight: bold;
 }
 
 .page_puce {
     color: #006064;
     font-size: 16px;
     margin-right: 10px;
 }
 
 h4,
 h5 {
     display: inline-block;
     margin: 0 0 1.5% 0;
 }
 
 h4 {
     font-family: 'alegreyregular', Georgia, 'Times New Roman', Times, serif;
     font-weight: bold;
     font-size: 18px;
     text-transform: uppercase;
 }
 
 h5 {
     font-weight: normal;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 16px;
 }
 
 .texte p {
     margin: 0;
 }
 
 .profession div,
 .formation div {
     max-width: 400px;
 }
 
 .recommandation {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     margin-bottom: 20px;
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 15px;
 }
 
 p span {
     font-weight: bold;
 }
 /*----RESPONSIVE DESIGN----*/
 /*----TABLETTES----*/
 
 @media all and (max-width: 900px) {
     #contenu {
         flex-direction: column;
         width: auto;
     }
     /*----HEADER----*/
     header {
         margin: auto;
         display: flex;
         flex-direction: column;
         background-color: #006064;
     }
     #prenom {
         color: #FFF;
     }
     #souligne_dev {
         border-bottom: solid;
         border-color: #FFF;
     }
     h1 {
         margin-top: 10px;
     }
     h1,
     h2 {
         text-align: center;
     }
     #titre {
         order: 3;
         margin-top: 10px;
     }
     #cadre_logo {
         display: block;
         margin: auto;
         border: solid 3px rgba(10, 10, 10, 0.3);
         border-radius: 50%;
         width: 150px;
         height: 150px;
         overflow: hidden;
     }
     .logo_header {
         width: 120%;
         transform: translate(-12px, -60px);
     }
     /*----PAGE CENTRE----*/
     #centre {
         margin-top: 10px;
     }
     .formation,
     .profession {
         justify-content: space-around;
     }
     .puce_bloc {
         margin-right: 50px;
         min-width: 100px;
     }
     .recommandation {
         justify-content: space-around;
         margin-top: 15px;
     }
     /*----ASIDE----*/
     #liseret {
         max-width: unset;
         order: 2;
     }
     .aside_titre,
     .aside_titre_gras {
         padding: 0.8%
     }
     #logo {
         display: none;
     }
     .contact {
         display: flex;
         justify-content: space-between;
         padding: 0;
     }
     #a_propos p {
         margin: 3%;
     }
     .contact li {
         margin: auto;
         margin-bottom: 15px;
     }
     .icon_loisirs {
         display: none;
     }
 }
 
 @media all and (max-width: 700px) {
     .contact {
         display: block;
         text-align: center;
     }
 }
 /*----SMARTPHONES----*/
 
 @media all and (max-width: 576px) {
     #contenu {
         font-size: 20px;
     }
     .logo_header {
         transform: translate(-12px, -200px);
     }
     h1,
     h2 {
         margin-left: 0;
     }
     h3 {
         text-align: center;
     }
     .page_corps {
         margin-right: auto;
     }
     .icon_article {
         margin-left: 5%;
     }
     .page_titre {
         margin: 0;
         margin-top: 10%;
         justify-content: center;
         align-items: center;
         padding: 0;
     }
     .page_liste {
         margin-left: 0;
         text-align: center;
     }
     .formation,
     .profession {
         flex-direction: column;
         align-items: center;
         margin-top: 10%;
     }
     .puce_bloc {
         margin-bottom: 3%;
         align-items: center;
         margin-right: auto;
         margin-left: auto;
     }
     h5 {
         text-decoration: underline;
     }
     .texte p {
         margin-top: 3%;
         text-align: justify;
     }
     .recommandation {
         text-align: center;
     }
 }