/*----POLICE----*/

@font-face {
    font-family: 'alegreyaregular';
    src: url('alegreya-regular-webfont.woff2') format('woff2'), url('alegreya-regular-webfont.woff') format('woff'), url('alegreyaregular.ttf') format('truetype'), url('alegreyaregular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#contenu {
    font-family: 'alegreyaregular' Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: #FAFAFA;
    columns: #FFF;
    display: flex;
    max-width: 900px;
    margin: auto;
}

li {
    list-style-type: none;
}

a {
    color: black;
}


/*----ASIDE----*/

#liseret {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #006064;
}

#logo {
    align-self: center;
    margin-top: 40px;
    border: solid 3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    /*pour que la photo ne dépasse pas*/
}

#logo_header {
    display: none;
}

.logo {
    display: block;
    max-width: 120%;
    transform: translate(-10px, -25px);
    /*A DECIDER PLUS TARD*/
}

.aside_titre {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background-color: #000;
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.aside_titre_gras {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background-color: #000;
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
}

.contact {
    padding-left: 10%;
    overflow-wrap: break-word;
}

.contact li {
    margin-bottom: 5%;
}

#a_propos {
    flex: 1;
}

aside p {
    text-align: justify;
}

.icon_loisir {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10%;
    color: #FFF;
}


/*----HEADER----*/

header {
    margin-bottom: 25%;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #000;
    margin-top: 10%;
    margin-bottom: 0;
    margin-left: 10%;
    padding-bottom: 0;
}

#prenom {
    font-weight: 400;
    color: #006064;
}

h2 {
    margin-top: 0;
    margin-left: 6.5%;
    padding-top: 0;
    font-size: 24px;
    color: rgba(06, 06, 06, 1);
}

#surligne_dev {
    border-bottom: solid;
    border-color: #006064;
}

#logo_header {
    display: none;
    align-self: center;
    margin-top: 30px;
    border: solid 3px rgba(0, 96, 100, 0.3);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}


/*---- LA PARTIE CENTRALE ----*/

#centre {
    flex: 1;
}

.page_article {
    margin-right: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    border-bottom: solid #000;
}